*{
    background-color:black !important;
}

.PDFviewer{
    background-color: #020101;
    display: inline-block;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    border: 5px solid #000;
  }
  .PDFContainer{
    display: block !important;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 1px;
  }
  .annotation {
    position: absolute;
    z-index: 10;
  }