*{
    background-color:black !important;
}

.PDFviewer{
    background-color: #020101;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    border: 5px solid #000;
  }
  .PDFContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 1px;
  }
